---
import Navigation from "../components/navigation.astro"
import Footer from "../components/Footer.astro"
import Div1 from "../components/Div1.astro"
import Legat from "../components/Legat.astro"
import Hero from "../components/Hero.astro"
---
<html lang="da">
  <head><title>EUX Elektriker</title>
   <meta charset="utf-8" />
  <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet" />
    </head>
  <body>
    <header>
      <Navigation/></Navigation>
    </header>
    
    <main>
      
<Hero src="/Eletriker_hero.webp" alt="Elektriker på arbejde" />


      <Div1 overskrift="EUX Elektrikeren stærk fremtid med både praktik og teori" underrubrik=" Vil du have en uddannelse, der kombinerer det praktiske med det teoretiske og samtidig holder alle muligheder åbne? Med EUX Elektrikeruddannelsen hos NEG Kalundborg** får du en stærk faglig ballast og en gymnasial eksamen i ét samlet forløb. Som elektriker arbejder du med alt fra installationer og energioptimering til smarte teknologiske løsninger. På EUX-sporet lærer du ikke kun det praktiske håndværk. du får også undervisning i gymnasiefag som matematik, fysik og engelsk, så du kan vælge at læse videre bagefter. Hos NEG Kalundborg får du undervisning i moderne faciliteter og bliver en del af et skolemiljø med fokus på fællesskab, faglighed og personlig udvikling. Du kommer tæt på erhvervslivet og lærer at tage ansvar både på byggepladsen og i klasselokalet. Hvis du vil stå med både svendebrev og studenterhue og være klar til både job og videreuddannelse så er EUX Elektriker hos NEG Kalundborg det rette valg."></Div1>


      <Legat>
      </Legat>
    </main>

    <footer>
      <Footer/></Footer>
    </footer>
  </body>
</html>
