---
import Navigation from "../components/navigation.astro"
---
<html lang="da">
  <head><title>EUX Elektriker</title></head>
  <body>
    <header>
      <Navigation/></Navigation>
    </header>
    
    <main>
      <h1>EUX Elektriker</h1>
      <p>Velkommen til EUX Elektriker-siden.</p>
      <p>Her kan du læse mere om uddannelsen og de muligheder, der findes på NEG Kalundborg.</p>
      <a href="/" class="green-button">Tilbage til Hjem</a> <!-- Knap til at komme tilbage -->
    </main>

    <footer>
      <Footer /></Footer>
    </footer>
  </body>
</html>
