---
import Footer from "../components/Footer.astro"
import Div1 from "../components/Div1.astro"
import Legat from "../components/Legat.astro"
import Hero from "../components/Hero.astro"
import Navigation from "../components/navigation.astro"
---
<html lang="da">
   <meta charset="utf-8" />
  <head><title>EUD Elektriker</title>
  <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet" />
    </head>
  <body>
    <header>
      <Navigation>
    </Navigation>
    </header>
    
    <main>
      
<Hero src="/Eletriker_hero.webp" alt="Elektriker på arbejde" />


      <Div1 overskrift="Bliv tømrer" underrubrik=" Kan du lide at bruge hænderne, løse opgaver og se resultaterne af dit arbejde med det samme? Som elektriker arbejder du med strøm, installationer og smarte løsninger, der gør en forskel i hverdagen og i fremtiden. På NEG Kalundborg får du en praktisk uddannelse med masser af muligheder. Du lærer både det tekniske og det kreative – og du kommer hurtigt ud i virkelige virksomheder, hvor du får erfaring og netværk. Elektrikeruddannelsen er perfekt for dig, der gerne vil hurtigt i gang med noget, der giver mening – og som åbner døre. Bagefter kan du vælge at gå direkte i job eller bygge videre med en specialisering eller videreuddannelse. Hos os får du et godt studiemiljø, dygtige undervisere og en uddannelse, der rykker. Klar til at tænde for din fremtid?"></Div1>

<Legat>
    </main>

    <footer>
      <Footer></Footer>
    </footer>
  </body>
</html>
