---
import Footer from "../components/Footer.astro"
import Div1 from "../components/Div1.astro"
import Legat from "../components/Legat.astro"
import Hero from "../components/Hero.astro"
import Navigation from "../components/navigation.astro"
import Studie2 from "../components/Studie1.astro"
---
<html lang="da">
  <head>
   <meta charset="utf-8" />
   <meta name="description" content="Vil du lærer at arbejde med træ og godt håndværk? som tømrer elev på NEG Kalundborg lærer du at lave konstruktioner med træ, vægge og meget mere med klassiske teknikker og moderne metoder. ">
  <meta name="keywords" content="EUD, NEG, Kalundborg, Tømrer, Faglært">
    <title>EUD tømrer | NEG</title>
  <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet" />
    </head>
  <body>
    <header>
      <Navigation>
    </Navigation>
    </header>
    
    <main>
      
<Hero src="/toemrer.webp" alt="Tørmer på arbejde" />


      <Div1 overskrift="Vil du bygge med mening? Bliv tømrer" underrubrik= "Drømmer du om at bygge noget, der holder i mange år? Tømreruddannelsen på EUD-niveau er for dig, der vil arbejde med hænderne, bruge værktøj og skabe bygninger, der giver mening. Du lærer at arbejde med træ, konstruktioner, tage, vægge og meget mere – både med klassiske teknikker og moderne metoder. Uddannelsen varer omkring 4 år og veksler mellem skole og praktik, hvor du får erfaring og løn. Som tømrer får du et solidt håndværk, stærke jobmuligheder og en uddannelse, du altid kan bygge videre på."></Div1>

<div class="wrapper">
        <div class="text">
          <img class="logo" src="/neg_logo.webp" alt="NEG logo" />
          <p>Tømreruddannelsen på EUD-niveau er for dig, der elsker at arbejde med hænderne, skabe noget synligt og bruge værktøj og materialer til at bygge og renovere.</p>
          <br>
          <p>Som tømrer er du med til at forme både private hjem og store erhvervsbyggerier. Du lærer at arbejde med træ, tagkonstruktioner, vægge, gulve og facader, samt hvordan man arbejder præcist og effektivt med byggeteknikker og materialer. Du får en solid forståelse for byggematerialer, sikkerhed, tegninger og samarbejde på byggepladsen.</p>
          <br>
          <p>Du starter med et grundforløb, hvor du får indblik i faget, og senere specialiserer du dig i de områder, der interesserer dig mest – fx boligbyggeri, industribyggelse eller renovering. Som tømrer er der stor efterspørgsel på dine færdigheder, og du kan vælge at arbejde som faglært eller videreuddanne dig til specialer som projektleder eller byggeleder. </p>
          <br>
            <p>Tømreruddannelsen giver dig ikke kun praktiske færdigheder, men også en stabil og fremtidssikret karriere med masser af muligheder for både udvikling og jobmuligheder.</p>
        </div>
        <img src="/toermer_dreng.webp" alt="tømrer elev der griner" />
      </div>

<Studie2 tekst="Tømreruddannelsen er bygget op i et skifte mellem skole og praktik. Undervejs er du i praktik tre gange, hvor du arbejder ude i en virksomhed og bliver en del af det daglige arbejde på byggepladsen. Her lærer du at bruge værktøj og materialer i praksis og får erfaring med rigtige opgaver. Mellem praktikperioderne er du på skole tre gange, hvor du dykker ned i faglig viden, lærer nye teknikker og får styr på byggetegninger, konstruktion og sikkerhed. Det er en uddannelse, hvor du lærer gennem både hænder og hoved.">
</Studie2>


<Legat>
    </main>

    <footer>
      <Footer></Footer>
    </footer>
  </body>
</html>

<style>
   .logo {
  display: block;
  margin: 0 auto 20px;
  max-width: 150px;
  border-radius: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 5%;
}
.wrapper img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  align-items: center;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

@media (max-width: 767px) {
  .text, .section p {
    text-align: left;
    align-items: flex-start;
  }
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .wrapper > img { width: 50%;
  max-height: fit-content; }
  .text {
    width: 50%;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
  }
</style>