---
const {underrubrik, overskrift} = Astro.props;
---


<div class="hero_text_container">
    <h1>{overskrift}</h1>
    <h3>{underrubrik}</h3>
</div>


<style>
.hero_text_container {
  text-align: center;
  margin-bottom: 2rem;
}

.hero_text_container h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.hero_text_container h3 {
  text-align: left;
  font-size: 1.25rem;
  margin: 0 auto;
  max-width: 800px;
}
</style>
