
<div>
    <img src=".../public/logo.webp" alt="NEG logo">
</div>

<div>
    <div><img src="" alt=""> Studievejledningen</div>
    <div><img src="" alt=""><a href="mailto:NEGkalundborg@neg.dk">Send os med glæde en mail: NEGkalundborg@neg.dk</a>
</div>
    <div><img src="" alt=""><a href="tel:++4572290500">Ring til os på telefon: +45 72 29 05 00</a>
</div>
</div>

<div>
    <div>
        <h3>NEG Kalundborg | EUD, EUX & K10</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2249.3761979772735!2d11.077057976778818!3d55.68244699740803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464d7572e0196e57%3A0x9caaa784cfa2d41f!2sJ%20Hagemann-Petersens%20Alle%2022%2C%204400%20Kalundborg!5e0!3m2!1sda!2sdk!4v1746974300339!5m2!1sda!2sdk" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div>
    <h3>NEG Kalundborg | Processkolen</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2249.5624331870886!2d11.110978825466402!3d55.679208834104834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464d75963758464f%3A0x7b7d6d19a670d0ea!2sNEG%20Kalundborg!5e0!3m2!1sda!2sdk!4v1746974062190!5m2!1sda!2sdk" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div>
        <h3>NEG Kalundborg | HHX & HTX </h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2249.3761979772735!2d11.077057976778818!3d55.68244699740803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464d7572e0196e57%3A0x9caaa784cfa2d41f!2sJ%20Hagemann-Petersens%20Alle%2022%2C%204400%20Kalundborg!5e0!3m2!1sda!2sdk!4v1746974341117!5m2!1sda!2sdk" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
