<div class="wrapper">
  <img src="/legat.webp" alt="2030 legatet" />
  <div class="text">
    <h2>Du kan få 2.030 kr. om måneden i op til 12 måneder</h2>
    <p>Hvis du er mellem 16 og 30 år, er udeboende i Region Sjælland og tager en teknisk uddannelse på NEG Kalundborg, så kan du få Andels legat. Legatet er på 2.030 kr. om måneden, og du kan få det i op til 12 måneder.</p>
    <p>Formålet med legatet er at højne uddannelsesniveau og styrke forudsætninger for vækst og beskæftigelse i Region Sjælland for dem, som vi mener kan gøre en forskel i den grønne omstilling.</p>
    <a href="https://andel.dk/legat/" target="_blank" class="green-button">Ansøg nu</a>
  </div>
</div>


<style>
.green-button {
  padding: 10px 25px;
  background-color: #EC8113;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.green-button:hover { 
  background-color: #003732; 
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 5%;
}

.wrapper img {
  max-width: 100%;
  height: auto;
}

.text {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    gap: 40px;
  }

  .wrapper > img { 
    width: 50%; 
  }

  .text {
    width: 50%;
    text-align: left;
  }
}
</style>