<div>
    <figure>
        <img src="#" alt="NEG kalundborg logo">
    </figure>
</div>

<div>
     <a href="instagram"><img src=".../public/Instagram_logo.webp" alt="instagram logo"></a>
     <a href="Facebook"><img src=".../public/facebook_logo.webp" alt="facebook logo"></a>
     <a href="Youtube"><img src=".../public/youtube_logo.webp" alt="youtube logo"></a>
</div>

<div>
    </slot>
</div>